
<div class='container shadow-lg mt-4 p-4 '>
<h2 class="ms-5 mb-2 text-center ">Patient Register</h2>
<div class="container"

<%= render "form", patient: @patient %>

<br>

<div>
  <%= link_to "Back to patients", patients_path %>
</div>
</div>
</div>
