@import "bootstrap";

* {
  text-wrap: nowrap;
}
::-webkit-scrollbar {
  display: none;
}
body {
  background-color: rgba(168, 159, 159, 0.068);
}
a {
  color: #dda15e;
  text-decoration-line: none;
  user-select: none;
  -webkit-user-drag: none;
  margin-left: 5px;
  margin-right: 5px;
}
input {
  border: 1px solid rgba(128, 128, 128, 0.61);
  padding-block-start: 5px;
  width: 100%;
}

input:focus {
  box-shadow: none;
  border-radius: 0px !important;
}

#file-pload-button {
  border: 0px;
  border-radius: 0px;
}

label {
  color: grey;
  font-size: 13px;
}
.custom_grey_button {
  border: 0px;
  color: white;
  border-radius: 2px;
  background-color: rgba(128, 128, 128, 0.952);
}
.custom_grey_button:hover {
  background-color: rgba(128, 128, 128, 0.849);
  color: white;
}
.theme_button {
  border-radius: 2px;
  background-color: #8a5416cb;
  color: white;
  height: 100%;
  border: 0px;
  white-space: nowrap;
  margin: 0x !important;
}

.theme_button:hover {
  background-color: #8a541665;
  color: white;
}

.custom_input {
  border: 1px solid #8a5416cb;
  border-radius: 0px;
}

select {
  border-radius: 0px;
  width: 100%;
  padding: 8px;
}

select:focus {
  border: 0px !important;
}

option {
  padding: 10px;
  border-radius: 0px;
}

.theme_color {
  color: #dda15e;
}
